<div class="text-center mb-2">
  <% if(organization?.thankYouMessage) { %>
  <div><%= organization?.thankYouMessage %></div>
  <% } else {%>
  <div>Thank you for your business!</div>
  <% } %>

  <div style="margin-top: 10px"><strong>Powered by Simplivet..</strong></div>
</div>
