<div
  style="
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
    color: grey;
    margin: 0px 20px;
  "
>
  <div style="font-weight: 600; margin: 0px">
    Powered By <span style="color: #2aa61f">Simpli</span
    ><span style="color: #2761c4">vet </span
    >
  </div>
  <div>
    <p>
      Page <span class="pageNumber"></span> of <span class="totalPages"></span>
    </p>
    <div></div>
  </div>
</div>
