<style>
    
    .chip {
        padding: 2px 8px;
        border-radius: 6px;
        font-size: 10px;
        font-weight: 600;
    }

    .chip-dns {
        background-color: <%= primaryColor %>;
        color: white;
        font-size: 10px;
    }
</style>

<div class="chip chip-dns">DNS</div>
