<style>
    
    .chip-dn {
        padding: 2px 8px;
        border-radius: 6px;
        font-size: 10px;
        font-weight: 600;
        display: inline-block;
    }

    .chip-dns {
        background-color: <%= primaryColor %>;
        color: white;
        letter-spacing: 0.08rem;
    }
</style>

<div class="chip-dn chip-dns"> DNS</div>
