<style>

    .chip-gen {
        padding: 2px 8px;
        border-radius: 6px;
        font-size: 10px;
        font-weight: 600;
        display: inline-block;
    } 

      .chip-generic {
        background-color: #2AA71F;
        color: white;
        font-size: 10px;
        letter-spacing: 0.03em;
    }
    
</style>


<div class="chip-gen chip-generic">Generic</div>
