<style>

    .chip {
        padding: 2px 8px;
        border-radius: 6px;
        font-size: 10px;
        font-weight: 600;
    } 

      .chip-generic {
        background-color: #2AA71F;
        color: white;
        font-size: 10px;
    }
    
</style>


<div class="chip chip-generic">Generic</div>
