<div class="no-page-break signature-section" style="page-break-inside: avoid; break-inside: avoid; margin-right: 40px; display: flex; justify-content: flex-end; width: 100% ">
  

  <div style="display: flex; flex-direction: column; align-items: center; width: fit-content;">

    <div
      style="
        border: 2px dashed #e0e0e0;
        border-radius: 8px;
        width: 200px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        background-color: #fafafa;
      "
    >
      <% if (createdBy && createdBy.signature) { %>
      <img
        src="<%= createdBy.signature %>"
        alt="Signature"
        style="max-width: 100%; max-height: 100%; object-fit: contain"
      />
      <% } else { %>
      <div style="text-align: center; color: #bdbdbd">
        <svg viewBox="0 0 249 176" fill="none">
          <path
            d="M92.0086 131.715C86.3846 125.811 80.1882 120.285 72.7236 117.569C71.9827 117.319 71.5075 117.222 70.7667 116.971C60.4661 114.566 49.7024 122.166 46.1746 128.276C43.7206 132.527 38.1728 143.67 38.3122 155.085C38.3834 156.189 38.7023 165.76 44.8536 168.603C46.6571 169.467 48.9207 169.534 51.435 168.86C54.3682 168.074 57.7055 166.282 61.3907 163.273C67.6723 158.222 73.5238 155.755 79.0014 156.084C80.5803 156.11 82.2716 156.555 84.1723 156.944C86.3387 157.487 88.5051 158.029 90.503 157.943C94.499 157.77 99.2879 154.691 101.226 151.027C104.641 144.498 97.8983 137.772 93.5615 133.32C92.974 132.803 92.3866 132.287 92.0086 131.715Z"
            fill="black"
            fill-opacity="0.04"
          />
          <path
            d="M34.5064 108.949C37.6943 110.79 40.8111 111.527 43.5348 110.797C43.9539 110.685 44.5824 110.516 44.9453 110.194C48.1292 108.668 49.9698 105.48 50.5793 101.05C51.0354 96.8852 50.2193 92.1635 48.09 87.5691C46.0168 83.1842 42.7427 79.3457 39.2329 77.1422C35.4575 74.7854 31.7684 74.4265 28.794 75.8972C25.6101 77.424 23.7695 80.6119 23.16 85.0419C22.7039 89.2063 23.52 93.928 25.6493 98.5224C27.7786 103.117 30.9966 106.746 34.5064 108.949Z"
            fill="black"
            fill-opacity="0.04"
          />
          <path
            d="M67.8416 102.711C68.2607 102.599 68.7358 102.696 69.3644 102.527C72.2977 101.741 74.838 99.4888 76.469 96.357C78.4068 92.6939 79.1697 87.9982 78.8288 83.3737C78.2223 78.5959 76.6243 74.3082 73.7842 71.2516C70.8318 67.776 67.281 66.2572 63.8164 66.7365C60.3518 67.2157 57.1268 69.4272 55.2451 73.2998C53.3073 76.9629 52.5444 81.6586 52.8853 86.2831C53.4919 91.061 55.0899 95.3487 57.9299 98.4052C60.8262 101.671 64.377 103.19 67.8416 102.711Z"
            fill="black"
            fill-opacity="0.04"
          />
          <path
            d="M103.638 95.5849C102.361 91.6601 99.6336 89.0226 96.4607 88.0762C93.0783 87.186 89.5164 88.1404 86.4599 90.9805C83.3471 93.6111 81.0464 97.596 79.9618 101.929C78.7237 106.527 78.7989 110.998 80.2285 114.657C81.5047 118.582 84.2325 121.22 87.4054 122.166C89.0966 122.611 90.6755 122.637 92.3517 122.188C94.0279 121.739 95.8013 120.815 97.4624 119.471C100.575 116.841 102.876 112.856 103.96 108.523C105.199 103.925 105.123 99.4535 103.638 95.5849Z"
            fill="black"
            fill-opacity="0.04"
          />
          <path
            d="M40.0839 129.008C39.7019 125.069 37.8944 120.837 34.942 117.362C31.9896 113.886 28.1581 111.32 24.2444 110.123C20.1211 108.982 16.6565 109.461 13.9067 111.77C11.3664 114.022 10.0571 117.517 10.4953 121.666C10.8772 125.606 12.6847 129.838 15.6371 133.313C18.5895 136.789 22.421 139.355 26.3348 140.552C28.7668 141.248 31.0304 141.315 33.1256 140.754C34.3828 140.417 35.5837 139.871 36.6724 138.905C39.2127 136.653 40.522 133.158 40.0839 129.008Z"
            fill="black"
            fill-opacity="0.04"
          />
          <path
            d="M195.48 99.2031C195.678 91.0518 195.203 82.763 191.845 75.5645C191.499 74.8634 191.232 74.4587 190.885 73.7576C185.302 64.7734 172.317 62.5363 165.502 64.3624C160.761 65.6327 148.959 69.589 140.986 77.7595C140.255 78.5903 133.713 85.5833 136.053 91.9432C136.717 93.8295 138.27 95.4777 140.524 96.7791C143.154 98.2975 146.781 99.3899 151.515 99.8683C159.528 100.738 165.41 103.132 169.051 107.238C170.149 108.373 171.03 109.883 172.099 111.502C173.247 113.418 174.396 115.333 175.869 116.685C178.817 119.388 184.381 120.597 188.341 119.377C195.373 117.175 195.362 107.651 195.443 101.436C195.393 100.656 195.342 99.8751 195.48 99.2031Z"
            fill="black"
            fill-opacity="0.04"
          />
          <path
            d="M170.89 42.4264C171.843 45.9821 173.526 48.707 175.968 50.1169C176.344 50.3338 176.907 50.6592 177.391 50.6882C180.722 51.86 184.278 50.9072 187.841 48.2057C191.109 45.5836 193.87 41.6678 195.613 36.9134C197.248 32.3468 197.647 27.3174 196.723 23.2775C195.72 18.9414 193.365 16.079 190.222 15.0157C186.891 13.844 183.336 14.7967 179.772 17.4982C176.505 20.1204 173.743 24.0362 172 28.7906C170.257 33.545 169.966 38.3866 170.89 42.4264Z"
            fill="black"
            fill-opacity="0.04"
          />
          <path
            d="M198.911 61.6008C199.287 61.8177 199.554 62.2225 200.118 62.5479C202.747 64.0663 206.137 64.2697 209.504 63.2085C213.465 61.9885 217.325 59.2076 220.354 55.6965C223.303 51.8892 225.205 47.7274 225.358 43.5578C225.728 39.0125 224.291 35.4278 221.503 33.3168C218.714 31.2058 214.87 30.4892 210.801 31.897C206.84 33.117 202.98 35.8979 199.952 39.409C197.002 43.2163 195.1 47.3781 194.947 51.5477C194.685 55.9051 196.122 59.4898 198.911 61.6008Z"
            fill="black"
            fill-opacity="0.04"
          />
          <path
            d="M229.253 81.8854C231.126 78.2078 231.062 74.4139 229.488 71.5012C227.725 68.48 224.532 66.6362 220.362 66.4832C216.301 66.1422 211.857 67.3331 208.026 69.6299C203.899 72.0061 200.79 75.2208 199.214 78.819C197.341 82.4967 197.405 86.2905 198.979 89.2033C199.861 90.7139 200.959 91.8487 202.461 92.7164C203.964 93.584 205.872 94.1844 207.996 94.4091C212.057 94.7501 216.502 93.5592 220.333 91.2624C224.46 88.8862 227.568 85.6715 229.253 81.8854Z"
            fill="black"
            fill-opacity="0.04"
          />
          <path
            d="M160.662 60.5636C163.178 57.5077 164.892 53.2374 165.262 48.6922C165.632 44.1469 164.737 39.6229 162.816 36.0091C160.707 32.2868 157.919 30.1758 154.342 29.864C150.953 29.6605 147.556 31.2059 144.931 34.4497C142.416 37.5056 140.702 41.7759 140.332 46.3212C139.962 50.8664 140.856 55.3904 142.777 59.0042C144.005 61.2159 145.558 62.864 147.437 63.9486C148.564 64.5993 149.799 65.0622 151.252 65.1494C154.641 65.3528 158.038 63.8074 160.662 60.5636Z"
            fill="black"
            fill-opacity="0.04"
          />
        </svg>

        <div style="font-size: 12px; margin-top: 4px">Sign & Seal</div>
      </div>
      <% } %>

    </div>

    <div style="text-align: center; align-items: center">
      <div style="font-weight: 700; font-size: 16px; color: #333">Dr. <%= createdBy.name %></div>
      <div style="font-size: 12px; color: #666; margin-top: 2px">Authorized Signatory</div>
      <div style="font-size: 12px; color: #666; margin-top: 2px">
        Date: <%= new Date().toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
      </div>
    </div>

   </div>
 
</div>