
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Prescription</title>
    <style>
         @media print {
        .no-page-break {
          page-break-inside: avoid;
          break-inside: avoid;
        }
      }
      *, *::before, *::after {
        box-sizing: border-box;
      }
      body {
        margin: 0px 0px 0px 0px;
        padding: 0;
        font-family: Mulish, sans-serif;
        font-size: 14px;
        line-height: 1.4;
        color: #283845;
         width: 195.79mm;
        /* min-height: 297mm; */
      }
      .body-wrapper {
        padding: 0px;
        width: 100%;
      }
    </style>
</head>
<body>
<div class="body-wrapper">
        <%- include('components/customerDetails/customerDetails') %>

        <%- include('components/title/title') %>

        <%- include('components/Items/items') %>

        <%- include('components/signature/signature') %>

    </div>
</body>
</html>