<!-- footer.ejs -->
<div class="footer no-page-break">
  <% if(organization?.thankYouMessage) { %>
  <h3 style="margin: 0 0 20px 0; text-align: center">
    <%= organization.thankYouMessage %>
  </h3>
  <% } else { %>
  <h3 style="margin: 0 0 20px 0; text-align: center">
    Thank you for your business!
  </h3>
  <% } %>

  <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px">
    <div>
      <h4 style="margin: 0 0 10px 0">Terms & Conditions:</h4>
      <% if(customTerms) { %>
      <p style="color: #666; margin: 0"><%= customTerms %></p>
      <% } else { %>
      <p style="color: #666; margin: 0">No terms and conditions provided.</p>
      <% } %>
    </div>
    <div style="text-align: right">
      <div style="margin-top: 120px">
        <p style="font-weight: 500">Authorized Signatory</p>
      </div>
    </div>
  </div>
</div>
