<!-- footer.ejs -->
<div class="footer no-page-break">
  <h3 style="margin: 0 0 20px 0; text-align: center">
    <%= organization.thankYouMessage %>
  </h3>

  <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px">
    <div>
      <h4 style="margin: 0 0 10px 0">Terms & Conditions:</h4>
      <p style="color: #666; margin: 0"><%= customTerms %></p>
    </div>
    <div style="text-align: right">
      <div style="margin-top: 120px">
        <p style="font-weight: 500">Authorized Signatory</p>
      </div>
    </div>
  </div>
</div>
